// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$primary-color: #B1B2FF;
$background-color: white;
$alt-bground-color: #FBFBFD;
$secondary-color: #EEF1FE;
$third-color: #AAC4FF;

$text-color-grey: #A39AAA;
$header-color-darkgrey: #443951;
