.qrcode-show {
  object-fit: contain;
  width: 100px;
  height: 100px;
  top: 100px;
  right: 20px;

  svg {
    padding: 10px;
  }
}

.modal-body {
  padding: 0px;
}

.seal {
  padding-top: 75px;
}

.container-prescription-show {
  padding: 20px;
}
