h1 {
  color: #B1B2FF;
  font-size: 24px;
  padding-top: 10px;
}

.qrcode {
  object-fit: contain;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 100px;
  right: 20px;

  svg {
    padding: 10px;
  }
}

.modal-body {
  padding: 0px;
}

.seal {
  padding-top: 400px;
}

.container-prescription {
  padding: 20px;
}
