h1 {
  color: #b1b2ff;
  font-size: 30px;
  padding-top: 10px;
}

.qrcode {
  object-fit: contain;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 100px;
  right: 20px;
  svg {
    padding: 10px;
  }
}

.seal {
  padding-top: 400px;
}

.container-prescription {
  padding: 20px;
}
