<% content_for :meta_title, "Your archived prescriptions" %>

<div class="container prescriptions-container">
<h3>Archived prescriptions</h3>
<%= render "prescriptions/prescriptions", prescriptions: @prescriptions %>
</div>
