<% content_for :meta_title, "Your notications" %>
<% @notifications.each do |n| %>
  <a href="/prescriptions" class="notification">
    <div class="card">
      <%= n.message %>
    </div>
  </a>
<% end %>
