<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/33clouds/prescriptool"><i class="fa-brands fa-github-alt"></i></a>
    <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    <p>This website was coded with <i class="fa-solid fa-heart fa-beat"></i> by <strong>Prescriptool</strong></p>
  </div>
  <div class="footer-address">
    <p>Prescriptool, 54 quai Charles Pasqua, 92300 Levallois-Perret</p>
  </div>
</div>
