<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/33clouds/prescriptool"><i class="fa-brands fa-github-alt"></i></a>
    <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    <p>This site was coded with <i class="fa-solid fa-heart fa-beat"></i></p>
  </div>
  <div class="footer-address">
    <p><strong>Prescriptool</strong>, <nobr>54 quai Charles Pasqua,</nobr> <nobr>92300 Levallois-Perret</nobr></p>
  </div>
</div>
