.footer-copyright .fa-solid {
  color: #BF0F12;
}

.footer-copyright .fa-solid:hover {
  font-size: 140%;
  transition: ease 0.2s;
}

.footer-links a {
  font-size: 150%;
  margin: 0 2px;
  color: $primary-color;
}

.footer {
  display: flex;
  // background-color: #2c2b2b;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 20px;
  padding-bottom: 0;
}

// create spacing after elements in footer proportional to the font-size
.footer * {
  margin-bottom: 0.2rem;
}

.footer-links a:hover {
  color: $header-color-darkgrey;
  transition: ease-in-out 0.25s;
}

.footer-address {
  color: $text-color-grey;
  font-size: 12px;
}

.footer-copyright {
  font-size: 15px;
}
