.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.container-button {
  margin-top: 20px;
  text-align: center;
}

#H1 {
  text-align: center;
  margin-top: 20px;
  color: #aac4ff;
}
